@using DynamicCrawler.Models
@model IEnumerable<DynamicCrawler.Models.Mapping>
<br />
<p>
    @Html.Kendo().Button().Name("btnCreate").Content("Create New").HtmlAttributes(new { type = "button" }).Events(e => e.Click("btnCreateOnClick"))
</p>
@(Html.Kendo().Grid<Mapping>()
              .Name("newsGrid")
              .Columns(column =>
              {
                  column.Bound(c => c.Comments);
                  column.Bound(c => c.Key);
                  column.Bound(c => c.FirstSelector);
                  column.Bound(c => c.SecondSelector);
                  column.Bound(c => c.Id).Title("").ClientTemplate(@"<button type='button' name='btnEdit#=Id#' class='k-button' onclick='btnEditOnClick(#=Id#)'>Edit</button>
                                                            <button type='button' name='btnDetails#=Id#' class='k-button' onclick='btnDetailsOnClick(#=Id#)'>Details</button>
                                                            <button type='button' name='btnDelete#=Id#' class='k-button' onclick='btnDeleteOnClick(#=Id#)'>Delete</button>");
              }).DataSource(datasource => datasource
                  .Ajax()
                  .Model(model => model.Id(m => m.Id))
                  .PageSize(20)
                  .Read(read => read.Action("GetAll", "Mapping")).Events(x => x.Error("onFetchDataError")))
              .Pageable(pageable => pageable.PageSizes(new int[] { 5, 10, 20, 50 })
                  .Refresh(true)
                  .PreviousNext(true)
                  .Enabled(true))
              .Editable(e => e.Enabled(false))
              .Sortable()
              .Events(evn => evn.DataBound("onGridDataBound"))
              .Resizable(resize => resize.Columns(true))
              .NoRecords("No records found")
)
<div id="createWindow">
    @Html.Action("Create")
</div>
<div id="windowEdit"></div>
<div id="windowDetails"></div>
<div id="windowDelete"></div>
<script>
    $(document).ready(function () {
        //showLoader();
        var createWindow = $("#createWindow");
        createWindow.kendoWindow({
            width: "600px",
            title: "New Mapping",
            visible: false,
            actions: [
                "Minimize",
                "Maximize",
                "Close"
            ]
            //close: onClose
        }).data("kendoWindow").center();
    });

    function onGridDataBound() {
        //hideLoader();
    }

    function onFetchDataError() {
        //hideLoader();
        alert('some error occurred');
    }

    function btnCreateOnClick() {
        var modal = $("#createWindow").data("kendoWindow");
        modal.open();
    }
    function btnEditOnClick(mappingCode) {
        var editWindow = $("#windowEdit");
        editWindow.kendoWindow({
            width: "600px",
            title: "Edit Mapping",
            visible: false,
            actions: [
                //"Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            content: "/Mapping/Edit/" + mappingCode,
            //close: onClose
        }).data("kendoWindow").center().open();
    }

    function btnDetailsOnClick(mappingCode) {
        var editWindow = $("#windowDetails");
        editWindow.kendoWindow({
            width: "1200",
            height: "805px",
            title: "Mapping Details",
            visible: false,
            actions: [
                //"Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            content: "/Mapping/Details/" + mappingCode,
            //close: onClose
        }).data("kendoWindow").center().open();
    }

    function btnDeleteOnClick(mappingCode) {
        var editWindow = $("#windowDelete");
        editWindow.kendoWindow({
            width: "600px",
            title: "Delete Mapping",
            visible: false,
            actions: [
                //"Pin",
                "Minimize",
                "Maximize",
                "Close"
            ],
            content: "/Mapping/Delete/" + mappingCode,
            //close: onClose
        }).data("kendoWindow").center().open();
    }

    //function onClose() {
        //$("#window").innerHTML = "";
    //}
</script>



